{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<link rel = "stylesheet" base href = "{% static 'core/css/header.css' %}" type = "text/css"/>
	<link rel = "stylesheet" base href = "{% static 'core/css/style.css' %}" type = "text/css"/>
</head>
<body>
	<div id = wrapper>
		<header>
			<nav class="nav-header">
				<div>
					<a href = "{% url 'homepage' %}"><img class = logo src="{% static 'core/images/logo.png' %}" alt='cinema_logo'/></a>
				</div>
				<div class = "conteiner">
					<ul class = "menu">
						<li class = "menu-element main-page">
							<a href="{% url 'homepage' %}">Главная</a>
						</li>
						<li class = "menu-element">
							<a href="#">Пушкинская карта</a>
						</li>
						<li class = "menu-element">
							<a href="#">Афиша</a>
						</li>
						<li class = "menu-element">
							<a href="{% url 'info' %}">Контакты</a>
						</li>
						<li class = "menu-element">
							<a href="#">Кинобонусы</a>
						</li>
					</ul>
					<div class = "sign-in">
							<a href="#">Войти</a>
					</div>
				</div>
			</nav>
		</header>
		<main>
			<div class="content">
				<div class="sessions">
					<div class = "select-day">
						<ul class = "day-menu">
							<li class = "day-element today">
								<a href="index.html">Сегодня</a>
							</li>
							<li class = "day-element">
								<a href="#">Завтра</a>
						</ul>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script src = "{% static 'core/js/header.js' %}"></script>
</body>
</html>



