<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>Инфа о проекте</h1>
<div>
    <h3>
        <a href="{% url 'homepage' %}">Главная страница проекта</a>
    </h3>
    <p>
        <div>Покупка билетов в сети кинотеатров.</div>
        <div>
            Будет возможность выбрать кинотеатр и день. Можно будет зарегистироваться на сайте, посмотреть список сеансов, афишу,
            фильмы доступные по пушкинской карте, посмотреть кинобонусы, которые начисляются за покупку билетов. Можно будет
            посмотреть историю покупки билетов. Как только пользователь купил билет, это будет занесено в историю покупок и
            начислены кинобонусы.
            При покупке билета, пользователь должен будет выбрать место в зале из свободных мест, затем ввести свои данные.
            Забронированное пользователем место сразу станет недоступным на сайте.
            После покупки ему придут билеты на почту
        </div>

    </p>
</div>
</body>
</html>