body{
    background-color: rgb(126,31,113);
    margin: 0;
}
header{
    width: 100%;
    height: 100px;
    background-color: black;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 66%;
}
.menu{
    list-style-type: none;
    display: flex;
    width: 66%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo{
    margin-top: 18px;
    margin-left: 60px;
    height: 64px;
}
.menu-element a{
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu-element a:hover{
    opacity: 1;
}
.menu-element:hover{
    transform: scale(1.09);
}
.select a{
    opacity: 1;
}
.sign-in a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign-in:hover{
    transform: scale(1.04);
}
.logo:hover{
    transform: scale(1.09);
}


