body{
    margin: 0;
}
main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
    display: flex;
    justify-content: center;
}
.select-day{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.day-menu{
    list-style-type: none;
    display: flex;
    width: 20%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.day-element a{
    text-decoration: none;
    color: white;
    opacity: 0.5;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.today a{
    opacity: 1;
}

.content{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.sessions{
    background-color: rgb(0, 0, 0);
    width: 70vw;
    height: 100vh;
    border-radius: 20px;
    color: #fff;
    position: relative;
    flex-direction: column;
}

.day-element:hover{
    transform: scale(1.09);
}